<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="NetGenericaa" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=Parciales; Integrated Security=false; User=NetGenericaa; Password=net;"/>
  </connectionStrings>
</configuration>